<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function(){
            ShopifyApp.Bar.initialize({
                icon: "<%= asset_path('favicon.ico') %>",
                pagination: {
                    previous: <%= (@previous_page.present? ? {href: @previous_page} : nil).to_json.html_safe %>,
                    next: <%= (@next_page.present? ? {href: @next_page} : nil).to_json.html_safe %>
                }
            });
        });
    </script>
<% end %>

<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-listing">
        <div class="section-options">
          <ul class="section-tabs">
            <li class="active"><a href="#top">All Orders</a></li>
          </ul>
          <div class="section-content">
            <div class="section-row">
              <% if @orders.any? %>
                  <table class="table-section">
                    <thead>
                    <tr>
                      <th class="select-col">
                        <div class="btn default btn-select-all ico-down">
                          <input id="select-all" class="checkbox" type="checkbox" value="" name="select-all">
                          <span class="checkbox-styled"></span>
                        </div>
                      </th>
                      <th class="sortable">Order</th>
                      <th class="sortable">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @orders.each do |order| %>
                        <tr>
                          <td>
                            <input class="checkbox select-order-checkbox" type="checkbox" value="<%= order.id %>">
                            <span class="checkbox-styled"></span>
                          </td>
                          <td><%= link_to order.shopify_order_name, "https://#{@shop_session.url}/admin/orders/#{order.shopify_order_id}", target: "_top" %></td>
                          <td><%= format_date order.shopify_order_created_at %></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
              <% else %>
                  <div>There is no order.</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>